body {
    /* General use */
    --primary-color: var(--primary-color-default-500);
    --primary-color-rgb: var(--primary-color-default-500-rgb);
    --default-text-color: var(--default-text-color-80);
    --default-text-color2: var(--grey-level02-50);

    /*still not present on Adobe Xd list, but used on Adobe Xd*/
    --default-text-color-80: #333333;
    --default-text-color-error: #FF3B30;

    /*From Adobe Xd*/
    --primary-color-default-500: #195080;
    --primary-color-default-500-rgb: 25, 80, 128;
    --primary-color-light-200: #517797;
    --primary-color-extralight-050: #B2C4D4;
    --primary-color-dark-700: #103555;
    --primary-color-extradark-900: #081A2A;
    
    --grey-level01-90: #212121;
    --grey-level02-50: #808080;
    --grey-level03-40: #999999;
    --grey-level04-30: #B3B3B3;
    --grey-level05-20: #CCCCCC;
    --grey-level06-10: #E6E6E6;
    --grey-level07-6: #F0F0F0;
    --grey-level08-4: #F5F5F5;
    --grey-level09-2: #FAFAFA;
    --grey-level10-0: #FFFFFF;
    
    --extra-red-500: #AB0504;
    --extra-overlay-100: #000000;
    
    --default-font-size1: 16px;
    --default-font-size2: 14px;
    --default-font-size3: 12px;
    --default-background-color: #ffffff;

}

/* General styles for all the fields */
.visually-hidden {
  position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/*error management*/
fieldset.error ~ .ltm-radio-field-helper-line, .matter-checkbox.error ~ .ltm-checkbox-field-helper-line, .matter-textfield-outlined.error ~ .ltm-text-field-helper-line{
  display: flex;
}
fieldset.error ~ .ltm-radio-field-helper-line:before, .matter-checkbox.error ~ .ltm-checkbox-field-helper-line:before, .matter-textfield-outlined.error ~ .ltm-text-field-helper-line:before{
  display: block;
}
.ltm-radio-field-helper-line, .ltm-checkbox-field-helper-line, .ltm-text-field-helper-line{
  font-family: var(--matter-font-family,"Roboto","Segoe UI",BlinkMacSystemFont,system-ui,-apple-system);
  font-size: 12px;
  color: var(--default-text-color-error);
  padding-top:7px;
  display:none;
}
.ltm-radio-field-helper-line:before, .ltm-checkbox-field-helper-line:before, .ltm-text-field-helper-line:before{
  content:"!";
      border: 1px solid var(--default-text-color-error);
    border-radius: 50%;
    width: 8px;
    height: 8px;
  line-height: 9px;
  text-align: center;
  font-size: 7px;
  margin-top:2px;
  margin-right:2px;
  display: none;
}

/*disabled management*/
input:disabled + span{
      filter: invert(82%) sepia(3%) saturate(11%) hue-rotate(353deg) brightness(100%) contrast(79%);
}
